body {
  margin: 0;
}

header {
  background: #3d9970;
  color: white;
  padding: 5px 15px 5px 15px;
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0 0 0 15px;
  display: inline;
}

nav ul li {
  background: #aaaaaa;
  color: white;
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;
  margin: 0;
}

nav ul li a {
  color: white;
}


