body {
    margin: 40px;
    padding: 0px;
    background-image: url(https://images.unsplash.com/photo-1445699269025-bcc2c8f3faee?crop=entropy&dpr=2&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
  }

  nav ul {
    list-style: none;
    padding: 0px 10px;
    position: relative;
    display: block;
  }


  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 150px;
      border-bottom: 1px solid #ccc;
  }

  li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
  }

  li a {
      display: block;
      color: #000;
      padding: 8px 0 8px 16px;
      text-decoration: none;
  }

li a:hover {
      background-color: #777;
      color: white;
  }

  li:hover ul {
    display: block;
  }


.container {
    max-width: 1000px
  }


  .sidebar {
    width:25%;
  }

  .title {
    font-family: georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 45px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
    text-align: center;
  }

  .content {
    text-align: center;
  }

 

 

  



