body {
  margin: 0;
  background-image: url("http://images.all-free-download.com/images/graphiclarge/old_paper_background_hd_picture_2_169574.jpg");
}

header {
  background: #2e484c;
  color: white;
  padding: 5px 15px 5px 15px;
}

header h1 {
  margin: 2em 0 0 0;
  display: inline;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.8em;
}

nav h1 a{
  color: white;
}

nav ul {
  margin: 0;
  padding: 0 0 0 15px;
  display: inline;

}

nav ul li {
  background: #2e484c;
  color: white;
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;
  margin: 0;
}

nav ul li a {
  color: white;
}

p {
  color: #000;
  font-family: 'Libre Baskerville', sans-serif;
  text-align: left;
}

ul {
  color: #000;
  font-family: 'Libre Baskerville', sans-serif;
  text-align: left;
}



